/* CSS RESET - do not remove */
/* Reset default browser styles and provide a consistent starting point */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: lighter;
}

/*  Set the font */
body {
  font-family: "Helvetica", sans-serif;
}

/* STYLES */
/* Write your CSS below */
.big-image{
  position: relative;
  width: 100vw;
  left: 0px;
  top: 0px;
  h1{
    font-size: 3rem;
    position: absolute;
    text-align: center;
    width: 100vw;
    bottom: 50%;
    color:white;
  }
}
p {
  text-align: justify;
  margin: 3rem;
}
hr{
  margin: 0 3rem;
}
.recipe-img{
  width: 40%;
  margin: 0 auto;
}

h2{
  margin: 1rem 3rem;
}

.ingredients{
  margin:1rem 3rem;
  list-style: inside;
  list-style-type: "- ";
}
.directions{
  margin: 1rem 3rem;
  list-style: none;
  li{
    counter-increment: listcounter;
  }
  li::before {
    /*3. Set the new style for the list markers */
    content: counter(listcounter) ") ";
  }


}


